# Turn rewrite engine on

RewriteEngine on

RewriteRule ^home index.php [NC,L]

RewriteRule ^forum forum.php [NC,L]

RewriteRule ^profile editprofile.php [NC,L]

RewriteRule ^post/([0-9]+) post.php?forum=$1 [NC,L]

RewriteRule ^user/([a-z,A-Z,0-9]+) user.php?person=$1 [NC,L]

