# Turn rewrite engine on

RewriteEngine on


RewriteRule ^home views/index.php [NC,L]

RewriteRule ^state/([a-z,A-Z,0-9]+)$ views/index.php?state=$1 [NC,L]


RewriteRule ^page/([a-z,A-Z,0-9]+)/([a-z,A-Z,0-9]+)$ views/index.php?state=$1&page=$2 [NC,L]

RewriteRule ^keywords/([a-z,A-Z,0-9]+)$ views/index.php?keywords=$1 [NC,L]


RewriteRule ^forum views/forum.php [NC,L]

RewriteRule ^relay views/search_relay.php [NC,L]

RewriteRule ^login views/authenticate.php [NC,L]

RewriteRule ^write views/write_post.php [NC,L]

RewriteRule ^profile views/editprofile.php [NC,L]

RewriteRule ^post/([0-9]+) views/post.php?forum=$1 [NC,L]

RewriteRule ^user/([a-z,A-Z,0-9]+) views/user.php?person=$1 [NC,L]

RewriteRule ^message/conversation/([0-9]+) views/messages.php?usersid=$1 [NC,L]

